                             /* Css Fonts */
h1{
  color:blueviolet;
  /* In Browser it will use Franklin Gothic Medium first if not available then Arial Narrow then Arial→finally any generic sans-serif font */
  /* if it does not find any of the above fonts it will use the default sans-serif font */ 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* it defines the size of the font  */
  font-size: 50px;
  /* it defines the weight of the font */
  font-weight: 600;
  /* it defines the style of the font */
  font-style: italic;
}



h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:3em;
  /*it means the font-size defines the size of the font in em units which is relative to the font size of the element's parent*/
/* head size almost 16 by default so 3em means 3 times the size of the parent element.
 so it will be 3*16=48px*/
}


h3{ font-size: 3rem;
  /* it means the font-size defines the size of the font in rem units which is relative to the font size of the root element (html) */
   /* head size almost 16 by default so 3rem means 3 times the size of the root element */

   /* font-size: 30%; same things  */
}



/* Pixel size determine by your device
em, relative to parent font size
rem, relative to html font size
% relative to parent font size  */